<p style="color: green"><%= notice %></p>

<%= render @autor %>

<div>
  <%= link_to "Editar", edit_autor_path(@autor) %> |
  <%= link_to "Voltar", autors_path %>

  <%= button_to "Deletar", @autor, method: :delete, data: { turbo_confirm: "Tem certeza que deseja deletar este autor?" } %>

</div>
