<%= form_with(model: montagem, local: true) do |form| %>
  <% if montagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(montagem.errors.count, "error") %> proibiu que este pecado fosse salvo</h2>

      <ul>
        <% montagem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :livro_id, "Livro" %>
    <%= form.collection_select :livro_id, Livro.all, :id, :titulo, prompt: "Selecione um livro" %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar' %>
  </div>
<% end %>
