<p style="color: green"><%= notice %></p>

<%= render @montagem %>

<div>
  <%= link_to "Editar", edit_montagem_path(@montagem) %> |
  <%= link_to "Voltar", montagems_path %>

  <%= button_to "Deletar Montagem", @montagem, method: :delete, data: {turbo_confirm: "Tem certeza que deseja deletar essa montagem?"}%>
</div>
