<div id="<%= dom_id peca %>">
  <p>
    <strong>Nome:</strong>
    <%= peca.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= peca.valor %>
  </p>

  <div>
    <strong>Fornecedor:</strong>
    <p>ID: <%= peca.fornecedor.id %></p>
    <p>Nome: <%= peca.fornecedor.nome %> </p>
    <p>Conta <%= peca.fornecedor.conta %></p>
    <p>CNPJ: <%= peca.fornecedor.cnpj %></p>
  </div>

</div>
