<p style="color: green"><%= notice %></p>

<%= render @livro %>

<div>
  <%= link_to "Editar", edit_livro_path(@livro) %> |
  <%= link_to "Voltar", livros_path %>

  <%= button_to "Deletar", @livro, method: :delete, data: { turbo_confirm: "Você tem certeza de que deseja deletar este livro?" } %>

</div>
